<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="PlumTree_CustomForm::top" title="PTG Side menu">
                    <resource id="PlumTree_CustomForm::config" title="Custom form side menu item">
                    	<resource id="PlumTree_CustomForm::grid_edit" title="Edit"/>
                    	<resource id="PlumTree_CustomForm::grid_delete" title="Delete"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
